<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @player.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @player.lname %>
</p>

<p>
  <b>Atbats:</b>
  <%= @player.atbats %>
</p>

<p>
  <b>Hits:</b>
  <%= @player.hits %>
</p>

<p>
  <b>League:</b>
  <%= @player.league %>
</p>

<p>
  <b>Team:</b>
  <%= @player.team %>
</p>

<p>
  <b>Runs:</b>
  <%= @player.runs %>
</p>

<p>
  <b>Rbi:</b>
  <%= @player.rbi %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
